---
http_interactions:
- request:
    method: get
    uri: https://api.data.gov/nrel/alt-fuel-stations/v1.json?fuel_type=LPG,ELEC&limit=10&zip=80232
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - BkgmGhQer1SfUO2xgYHj2v55FU8z3vlOL5IyEFzK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      Last-Modified:
      - Wed, 07 Feb 2018 15:35:18 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":2,"station_counts":{"total":2,"fuels":{"BD":{"total":0},"E85":{"total":0},"ELEC":{"total":0},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":0},"LPG":{"total":2}}},"fuel_stations":[{"access_days_time":"7am-7pm
        M-Th and Sat, 7am-8pm F, 9am-5pm Sun","cards_accepted":"A Cash D M V","date_last_confirmed":"2017-11-02","expected_date":null,"fuel_type_code":"LPG","id":20349,"groups_with_access_code":"Public","open_date":null,"owner_type_code":"P","status_code":"E","station_name":"U-Haul","station_phone":"303-986-5873","updated_at":"2018-02-06T21:00:03Z","geocode_status":"200-9","latitude":39.682156,"longitude":-105.099728,"city":"Lakewood","intersection_directions":"At
        Garrison","plus4":null,"state":"CO","street_address":"9190 W Jewell Ave","zip":"80232","country":"US","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":null,"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":true,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null},{"access_days_time":"7am-7pm
        M-Th and Sat, 7am-8pm F, 9am-5pm Sun","cards_accepted":"A Cash D M V","date_last_confirmed":"2017-11-02","expected_date":null,"fuel_type_code":"LPG","id":70896,"groups_with_access_code":"Public","open_date":null,"owner_type_code":"P","status_code":"E","station_name":"U-Haul","station_phone":"303-936-2401","updated_at":"2018-02-06T21:00:03Z","geocode_status":"200-9","latitude":39.696471,"longitude":-105.053217,"city":"Lakewood","intersection_directions":null,"plus4":null,"state":"CO","street_address":"1104
        S Sheridan Blvd","zip":"80232","country":"US","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":null,"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":false,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null}]}'
  recorded_at: Wed, 07 Feb 2018 16:57:30 GMT
recorded_with: VCR 4.0.0
