---
http_interactions:
- request:
    method: get
    uri: https://api.data.gov/nrel/alt-fuel-stations/v1/nearest.json?fuel_type=LPG,ELEC&limit=10&location=80232&radius=6.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - BkgmGhQer1SfUO2xgYHj2v55FU8z3vlOL5IyEFzK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '994'
      Last-Modified:
      - Wed, 07 Feb 2018 17:25:05 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.689141,"longitude":-105.088412,"precision":{"value":5,"name":"postal_code","types":["postal_code"]},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":30,"station_counts":{"total":42,"fuels":{"BD":{"total":0},"E85":{"total":0},"ELEC":{"total":32,"stations":{"total":20}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":0},"LPG":{"total":10}}},"offset":0,"fuel_stations":[{"access_days_time":"7am-7pm
        M-Th and Sat, 7am-8pm F, 9am-5pm Sun","cards_accepted":"A Cash D M V","date_last_confirmed":"2017-11-02","expected_date":null,"fuel_type_code":"LPG","id":20349,"groups_with_access_code":"Public","open_date":null,"owner_type_code":"P","status_code":"E","station_name":"U-Haul","station_phone":"303-986-5873","updated_at":"2018-02-06T21:00:03Z","geocode_status":"200-9","latitude":39.682156,"longitude":-105.099728,"city":"Lakewood","intersection_directions":"At
        Garrison","plus4":null,"state":"CO","street_address":"9190 W Jewell Ave","zip":"80232","country":"US","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":null,"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":true,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"distance":0.77205,"distance_km":1.24249},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2018-01-04","expected_date":null,"fuel_type_code":"ELEC","id":50753,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"LAKEWOOD
        CO","station_phone":"888-758-4389","updated_at":"2018-01-04T21:41:46Z","geocode_status":"GPS","latitude":39.7086498,"longitude":-105.085786,"city":"Lakewood","intersection_directions":"CIVIC
        CENTER 1; Near the NW corner of the Cultural Center","plus4":null,"state":"CO","street_address":"480
        S Allison Pkwy","zip":"80226","country":"US","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772","NEMA520"],"ev_dc_fast_num":null,"ev_level1_evse_num":1,"ev_level2_evse_num":1,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:86087"]},"distance":1.35317,"distance_km":2.17772},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2018-01-04","expected_date":null,"fuel_type_code":"ELEC","id":67681,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"RM","station_phone":"888-758-4389","updated_at":"2018-01-04T21:34:29Z","geocode_status":"GPS","latitude":39.7090037,"longitude":-105.0805415,"city":"Lakewood","intersection_direc[...]
